@import url(../stylesheets/fonts.css);

html, body{height:100%!important; min-height:100%}

body, form{margin:0; padding:0}

body{background:url(../images/bg.jpg) repeat scroll 0 0 transparent; background-size:cover; color:#424242; font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:20px; min-height:100%; position:relative; margin:0; padding:0}

#page{ background: url("../images/pattern.png") repeat scroll left top transparent;}

div, input, textarea, select{color:#737373; font-family:arial; font-size:12px; position:relative}

input, textarea, select{background:none repeat scroll 0 0 #FFF; border:1px solid #D5D5D5; font-family:Arial,Helvetica,sans-serif; font-size:11px; width: 100px;height: 38px; padding: 0 45px; color:#000; vertical-align:middle; margin:0}

a{color:#FFF; outline:medium none; text-decoration:none}

a:hover{color:#EDEDED; text-decoration:underline}

h1, h2, h3, h4, h5{font-weight:400; margin:0; padding:0}

#start{height:100%; min-height:600px; min-width:1003px; width:100%}

#bef-main{min-height:100%; overflow:hidden; width:100%}

#main{height:509px; position:absolute; top:50%; width:100%; margin:0 auto}

.wraptop{width:940px; margin:auto}

.wrapfooter{width:940px; margin:auto}

#topNav{display:block; height:36px}

.topmenu{background:none repeat scroll 0 0 rgba(10, 10, 10, 0.9); opacity: 0.8; color:#EEE; position:fixed; width:100%; z-index:999}

.userNav a{border-left:1px solid #2F2F2F; border-right:1px solid #2F2F2F; color:#EEE; float:right; font-size:11px; margin:0; padding:0}

.fix{clear:both}

.loginWrapper{display:block; left:50%; position:absolute; top:50%; border-color:#D5D5D5; margin:-106px 0 0 -160px;}

.signupWrapper{background:none repeat scroll 0 0 #FAFAFA; border:1px solid #D5D5D5; border-radius:5px 5px 5px 5px; display:block; left:50%; position:absolute; max-height:585px; min-height:50%; top:20%;  border-color:#D5D5D5; bottom:10%;margin:0 0 0 -160px;}

ul.errors{font-size:.7em; list-style-type:none; margin:0; padding:0}

div.msg a.close{display:none}

div.msg h5{color:#000; font-size:15px; font-weight:700}

div.form .info h3, div.form .error h3, div.form .success h3, div.form .info p, div.form .error p, div.form .success p{color:red; font-size:.8em; text-align:center; margin:0 10px}

.jGrowl-notification .message{font-size:.95em; height:48px; padding-left:36px; text-align:left}

#jGrowl div.jGrowl-error{background-color:#FCCAC2}

#jGrowl div.jGrowl-error .message{background:url(http://up.h213.info/img/exclamation.png) no-repeat scroll left top transparent; color:#AC260F; position:relative}

#jGrowl div.jGrowl-success .message{background:url(http://up.h213.info/img/accept.png) no-repeat scroll left top transparent; color:#3C5A01; position:relative}

#jGrowl div.jGrowl-success{background-color:#EFFFB9}

#footer{background:none repeat scroll 0 0 rgba(10, 10, 10, 0.9); opacity: 0.8; clear:both; color:#EEE; bottom:0%; position:fixed; width:100%}

#footer span{color:#696969; display:block; font-size:11px; padding:9px 5px;text-decoration: none}

#footer span a{color:#EEE}

#foot{padding-top:13px; text-align:right; width:955px; margin:0 auto}

.wrapper .logo {background:none repeat scroll 0 0 transparent; float: left; order:0 none; font-size:100%; outline:0 none; vertical-align:baseline; margin:0; padding: width: 40%;}

.wrapper .userNav{background:none repeat scroll 0 0 transparent; float: right; border:0 none; font-size:100%; outline:0 none; vertical-align:baseline; margin:0; padding:0}

.logoDash, .userNavDash{text-align:center; margin:10px}

.userNav{background:none repeat scroll 0 0 transparent; border:0 none; font-size:100%; outline:0 none; vertical-align:baseline; margin:0; padding:0}

.logoDash, .userNavDash{text-align:center; margin:10px}

.userNav a:hover{background:none repeat scroll 0 0 #212121}

.userNav span{display:block; float:left; padding:10px 14px 8px 8px}

.logo span {font-family: 'Montserrat Alternates',sans-serif; font-size: 20px; display:block; float:left; padding:10px 14px 8px 8px}

.userNav img{display:block; float:left; margin:13px 2px 11px 14px}

form {display: block; height: auto; width: auto;}
#bottom_text {
display: block;
line-height: 19px;
margin: 12px auto;
text-align: center;
width: auto;
}
a#feedbackleft {
background:url("../images/feedback_tab_white.png") no-repeat scroll 50% 50% rgba(10, 10, 10, 0.9);
display:block;
opacity: 0.8;
height:90px;
line-height:0;
padding:5px;
position:fixed;
left:0;
text-indent:-99999px;
top:40%;
width:22px;
}
a#feedbackleft:hover {
background-color:rgba(10, 10, 10, 0.9);
opacity: 0.9;
}
.copyright {
float: left;
}
.add-on {
background-color: #EEEEEE;
border: 1px solid #CCCCCC;
display: inline-block;
font-size: 14px;
font-weight: normal;
height: 20px;
line-height: 20px;
min-width: 16px;
padding: 4px 5px;
text-align: center;
text-shadow: 0 1px 0 #FFFFFF;
width: auto;
}
.input-append input[class*="span"], .input-append .uneditable-input[class*="span"], .input-prepend input[class*="span"], .input-prepend .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"], .row-fluid .input-prepend [class*="span"], .row-fluid .input-append [class*="span"] {
display: inline-block;
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
border-radius: 0 4px 4px 0;
margin-bottom: 0;
position: relative;
vertical-align: top;
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu, .input-append .popover, .input-prepend .popover {
font-size: 14px;
}

input.span2, textarea.span2, .uneditable-input.span2 {
width: auto;
}
input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] {
float: none;
margin-left: 0;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
background-color: #FFFFFF;
border: 1px solid #CCCCCC;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
border-radius: 0 4px 4px 0;
color: #555555;
display: inline-block;
font-size: 14px;
height: 20px;
line-height: 20px;
margin-bottom: 10px;
padding: 4px 6px;
vertical-align: middle;
}
.span2 {
width: 170px;
}
[class*="span"] {
float: left;
margin-left: 30px;
min-height: 1px;
}
.span2 {
width: 170px;
}
[class*="span"] {
float: left;
margin-left: 30px;
min-height: 1px;
}
.span2 {
width: 140px;
}
[class*="span"] {
float: left;
margin-left: 20px;
min-height: 1px;
}
.span2 {
width: 140px;
}
[class*="span"] {
float: left;
margin-left: 20px;
min-height: 1px;
}
input, textarea, .uneditable-input {
margin-left: 0;
}
input, textarea, .uneditable-input {
margin-left: 0;
}
input, textarea, .uneditable-input {
margin-left: 0;
}
input, textarea, .uneditable-input {
margin-left: 0;
}
input, textarea, .uneditable-input {
width: 206px;
}
button {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: #F5F5F5;
background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
background-repeat: repeat-x;
border-color: #BBBBBB #BBBBBB #A2A2A2;
border-image: none;
border-radius: 4px 4px 4px 4px;
border-style: solid;
border-width: 1px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
color: #333333;
cursor: pointer;
display: inline-block;
font-size: 14px;
line-height: 20px;
margin-bottom: 0;
padding: 4px 12px;
text-align: center;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;}
input, button, select, textarea {
font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
label, input, button, select, textarea {
font-size: 14px;
font-weight: normal;
line-height: 20px;
}
button, input {
line-height: normal;
}
button, input, select, textarea {
font-size: 100%;
margin: 0;
vertical-align: middle;
}
.input-append, .input-prepend {
display: inline-block;
font-size: 0;
margin-bottom: 10px;
vertical-align: middle;
white-space: nowrap;
}	
.input-append, .input-prepend {
font-size: 0;
white-space: nowrap;
}
.fb_iframe_widget {
display: inline-block;
float: right;
position: relative;
}