@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:700);

html, body{height:100%!important; min-height:100%}

body, form{margin:0; padding:0}

body{background:url(../images/bg.jpg) repeat scroll 0 0 transparent; background-size:cover; color:#424242; font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:20px; min-height:100%; position:relative; margin:0; padding:0}

div, input, textarea, select{color:#737373; font-family:arial; font-size:12px; position:relative}

input, textarea, select{background:none repeat scroll 0 0 #FFF; border:1px solid #D5D5D5; font-family:Arial,Helvetica,sans-serif; font-size:11px; width: 100px;height: 38px; padding: 0 45px; color:#000; vertical-align:middle; margin:0}

a{color:#FFF; outline:medium none; text-decoration:none}

a:hover{color:#EDEDED; text-decoration:underline}

h1, h2, h3, h4, h5{font-weight:400; margin:0; padding:0}

#start{height:100%; min-height:600px; min-width:1003px; width:100%}

#bef-main{min-height:100%; overflow:hidden; width:100%}

#main{height:509px; position:absolute; top:50%; width:100%; margin:0 auto}

.wrapper{width:940px; margin:auto}

#topNav{display:block; height:36px}

.topmenu{background:none repeat scroll 0 0 rgba(10, 10, 10, 0.9); opacity: 0.8; color:#EEE; position:fixed; width:100%; z-index:999}

.logo a{border-left:1px solid #2F2F2F; border-right:1px solid #2F2F2F; color:#EEE; float:left; font-size:11px; margin:0; padding:0}

.userNav a{border-left:1px solid #2F2F2F; border-right:1px solid #2F2F2F; color:#EEE; float:right; font-size:11px; margin:0; padding:0}

.fix{clear:both}

.loginWrapper{display:block; left:50%; position:absolute; top:50%; border-color:#D5D5D5; margin:-106px 0 0 -160px;}

.signupWrapper{background:none repeat scroll 0 0 #FAFAFA; border:1px solid #D5D5D5; border-radius:5px 5px 5px 5px; display:block; left:50%; position:absolute; max-height:585px; min-height:50%; top:20%;  border-color:#D5D5D5; bottom:10%;margin:0 0 0 -160px;}


.loginLogo{display:block; height:44px; left:42.5%; right:42.5%; top:5%; width:15%}
.loginLogo img{width:100%;}


.head{background:url(http://up.h213.info/img/leftNavBg.png) repeat-x scroll 0 0 #EFEFEF; border-radius:5px 5px 0 0; border-bottom:1px solid #D5D5D5;  position:relative}

.text{height:300px !important;}

.signup{ height:92% !important; width:310px !important;}

.form{background:url(images/form.png) no-repeat scroll 0 0 transparent;  overflow:auto; width:310px;}

.form p{color:#424242; font-size:12px; font-weight:700; font-family:Electrolize,sans-serif; padding:5px 10px; margin:0;}

.form .logo{height:58px; text-align:center; margin:23px auto 43px}

.form table{border-collapse:collapse; width:100%}

.form tr{border-bottom:1px solid #E7E7E7; position:relative; padding:10px 0}

.form td{color:#424242; font-size:12px; font-weight:700; font-family:Electrolize,sans-serif; padding:10px 10px}

.form input{padding:1px 5px 2px}

.form input.txt{width:180px; height:25px}

.form select{width:192px}

.form span.but{background:url(images/button-2.png) no-repeat scroll 100% 0 transparent; display:inline-block; padding:0 5px 0 0}

.form span.but button{background:linear-gradient(#FCFCFC,#F0F0F0) repeat scroll 0 0 transparent; background-color:#F9F9F9; border-radius:3px 3px 3px 3px; border:1px solid #4F5A68; color:#606060; height:31px; margin:0 0 0 10px; padding:0 10px 0 10px}

form{padding:0}

.iUser{background:url(http://up.h213.info/img/user.png) no-repeat scroll 12px center transparent}

.head h5{font-weight:400; font-size:14px; padding:9px 12px 9px 35px;}

.tac{text-align:center}

.tar{text-align:right}

.tal{text-align:left}

#foot{padding-top:13px; text-align:right; width:955px; margin:0 auto}

ul.errors{font-size:.7em; list-style-type:none; margin:0; padding:0}

div.msg a.close{display:none}

div.msg h5{color:#000; font-size:15px; font-weight:700}

div.form .info h3, div.form .error h3, div.form .success h3, div.form .info p, div.form .error p, div.form .success p{color:red; font-size:.8em; text-align:center; margin:0 10px}

.jGrowl-notification .message{font-size:.95em; height:48px; padding-left:36px; text-align:left}

#jGrowl div.jGrowl-error{background-color:#FCCAC2}

#jGrowl div.jGrowl-error .message{background:url(http://up.h213.info/img/exclamation.png) no-repeat scroll left top transparent; color:#AC260F; position:relative}

#jGrowl div.jGrowl-success .message{background:url(http://up.h213.info/img/accept.png) no-repeat scroll left top transparent; color:#3C5A01; position:relative}

#jGrowl div.jGrowl-success{background-color:#EFFFB9}

#footer{background:none repeat scroll 0 0 rgba(10, 10, 10, 0.9); opacity: 0.8; clear:both; color:#EEE; bottom:0%; position:fixed; width:100%; z-index:-9999}

#footer span{color:#696969; display:block; font-size:11px; padding:9px 5px}

#footer span a{color:#EEE}

.wrapper .logo {background:none repeat scroll 0 0 transparent; float: left; order:0 none; font-size:100%; outline:0 none; vertical-align:baseline; margin:0; padding: width: 40%;}

.wrapper .userNav{background:none repeat scroll 0 0 transparent; float: right; border:0 none; font-size:100%; outline:0 none; vertical-align:baseline; margin:0; padding:0}

.logoDash, .userNavDash{text-align:center; margin:10px}

.logo, .userNav{background:none repeat scroll 0 0 transparent; border:0 none; font-size:100%; outline:0 none; vertical-align:baseline; margin:0; padding:0}

.logoDash, .userNavDash{text-align:center; margin:10px}

.userNav a:hover{background:none repeat scroll 0 0 #212121}

.userNav span{display:block; float:left; padding:10px 14px 8px 8px}
.logo span {display:block; float:left; padding:10px 14px 8px 8px}

.userNav img{display:block; float:left; margin:13px 2px 11px 14px}

.user {
    background: url("../images/user.png") no-repeat scroll 0 0 transparent;
}
.password {
    background: url("../images/password.png") no-repeat scroll 0 0 transparent;
}
#bottom_text {
    display: block;
    line-height: 19px;
    margin: 12px auto;
    text-align: center;
    width: auto;
}
a#feedbackleft {
background:url("../images/feedback_tab_white.png") no-repeat scroll 50% 50% #0066CC;
display:block;
height:90px;
line-height:0;
padding:5px;
position:fixed;
left:0;
text-indent:-99999px;
top:40%;
width:22px;
}
a#feedbackleft:hover {
background-color:#FF8B00;
}